extends ../auth.layout.pug

block content
  .hello-world
    +icon('portfolio_header', 'hello-world__block')
<<<<<<< HEAD
    .inlined-svg

  .block1 fffffff
  .block2 222222
=======
    .inlined-svg
>>>>>>> d987ac819b790d34ba2b00e70c39b2868932f289
