extends ../auth.layout.pug

block content
  .welcome
    +image('welcome-bg.jpg', 'hero welcome', 'welcome')
    .welcome__log-in
      button.button Log in
    .welcome__content-container
      .welcome__content
        .welcome__inner
          +image('profile-bg.png', 'page welcome', 'welcome-img')
          .welcome__user-desc
            .user
              .user__pic-container
                .user__pic
                  +image('myphoto.jpg', 'user pic', 'user__pic-img')
              .user__info
                .user__name Tetiana Dotsenko
                .user__desc Website of developer
              .user__socials  
                +socials('')
              .user__nav
                +nav('nav', ['Projects', 'About me', 'Blog'])
    .welcome__text-container
      .welcome__text
        .welcome__words © Tetiana Dotsenko | Created with love in Loftschool | 2019
  //- .hello-world
  //-   +icon('portfolio_header', 'hello-world__block')
  //-   .inlined-svg

  
