footer.footer
  .wrapper
    .footer__container
      .footer__block
        +nav('nav_footer nav', ['Projects', 'About me', 'Blog', 'Log in'])
        +socials('__white')
      .footer__block
        span.footer__text.block-text This website I creadet in  LoftSchool.
        .footer__copyright © Tetiana Dotsenko | Created with love in  LoftSchool | 2019