header(class="header")
  +image('welcome-bg.jpg', 'about welcome', 'welcome')
  .header__top
    +socials('__white')
    +hamburger
  .header__user-bg
    +user-card('', 'Tetiana Dotsenko', 'Website of developer')
  .header__button
    +icon('arrow_down', 'header__arrow')