.content {
  position: relative;
}
.welcome {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-repeat:  no-repeat;
  background-size: cover;
}
.welcome__log-in {
  position: absolute;
  top: 20px;
  right: 100px;
}
.button {
  padding: 12px 25px;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  background: transparent;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;

  &:hover {
    color: #55d4c3;
    background: white;
  }
}
// .welcome__content-container {
//   display: flex;
//   align-items: center;
//   justify-content: space-around;
// }
.welcome__content {
  position: absolute;
  top: 30%;
  left: 40%;
}
.welcome__inner {
  position: relative;
}
.welcome-img {
  position: absolute;
  top: 0;
}
.welcome__user-desc{
  position: absolute;
  top: 40px;
  left: 65px;
  width: 250px;
}
.user{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user__pic-container {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 15px;
}
.user__pic-img {
  width: 100%;
  height: 100%;
  background-size: cover;
}
.user__name {
  margin-bottom: 15px;
  font-size: 28px;
  font-weight: 700;
}
.user__desc {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #455a64;
}
.user__info {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 24px;
}
.user__socials {
  margin-bottom: 23px;
}
.socials, .socials__white {
  display: flex;
  width: 140px;
  justify-content: space-between;
}
.socials__item {
  display: flex;
  align-items: flex-end;
  
}
.socials__link {
  display: flex;
  align-items: flex-end;
  width: 35px;
  height: 25px;
}
.social__icon {
  height: 100%;
  cursor: pointer;
  fill: #70d1c6;

  &:hover {
    fill: white;
  }
}
.socials__white {
  
  .social__icon{
    fill: #c3d6d6;

    &:hover {
      fill: white;
    }
  }
}
.user__nav {
  display: flex;
  // background: #0eb09c;
  opacity: 0.8;
  font-size: 16px;
  width: 380px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.nav {
  width: 100%;
}
.nav__list {
  display: flex;
  justify-content: space-evenly;

}
.nav__item {
  border-right: 1px solid #078c84;
  padding: 15px 30px;
  width: 100%;
  background: #0eb09c;

  &:first-child {
    border-bottom-left-radius: 5px;
  }

  &:last-child {
    border-right: 0;
    padding: 15px 47px;
    border-bottom-right-radius: 5px;
  }

  &:hover {
    background: #00bfa5;
  }
}
.nav__link {
  color: white;
  text-decoration: none;
  white-space: nowrap;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.welcome__text-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.welcome__text {
  position: absolute;
  bottom: 20px;
}
// .inlined-svg  {
//     width: 30px;
//     height: 30px;
//     cursor: pointer;

//   &--github {
//     background: svg-load('github.svg', fill=$green) center center no-repeat;
    
//     &:hover {
//       background-image: svg-load('github.svg', fill=red);
//     }
//   }
// }

// .test {
//   background: $green;
// }
